parameters:
	level: 5
	paths:
		- backend/src
	treatPhpDocTypesAsCertain: false
	excludePaths:
		analyse:
			- backend/src/Views/*
	bootstrapFiles:
		- vendor/codeigniter4/codeigniter4/system/Test/bootstrap.php
	scanDirectories:
		- vendor/codeigniter4/codeigniter4/system/Helpers
	parallel:
		processTimeout: 300.0
	ignoreErrors:
		- '#Call to an undefined static method [a-zA-Z0-9\\_]+::.*#'
		- '#Cannot access property \$.* on array\|object#'
		- '#Access to an undefined property .*::.*#'
		- '#Access to protected property .*::\$.*#'

